<app-toolbar-registration
    [alumnosDisponibles]="(alumnosDisponibles$ | async) || []"
    [courseId]="courseId"
    (addRegistration)="registrarAlumno($event)">
</app-toolbar-registration>

<h2 class="sectionTitulo">ALUMNOS INSCRIPTOS</h2>

<div *ngIf="inscripciones$ | async as inscripciones; else loadingTpl">

    <!-- Si hay inscripciones -->
    <div *ngIf="inscripciones.length > 0; else noInscripciones">
        <app-table-curso-inscripcion
            [courseId]="courseId"
            [inscripciones]="inscripciones">
        </app-table-curso-inscripcion>
    </div>

</div>

<!-- Loading -->
<ng-template #loadingTpl>
    <app-loading></app-loading>
</ng-template>

<!-- Cartel “no hay inscripciones” -->
<ng-template #noInscripciones>
    <app-cartel-no-hay mensaje="Este curso no tiene inscripciones registradas"></app-cartel-no-hay>
</ng-template>
