.sectionTableCourses{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

:host {
    display: block;
    width: 100%;
}

.mat-elevation-z8 {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
}

mat-form-field {
    width: 100%;
}
