version: "1.0.0"
services:
  backend:
    build:
      dockerfile: dockerfile.backend
      context: .
    image: fundacion-backend
    container_name: fundacion_backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    build:
      dockerfile: dockerfile.frontend
      context: .
    image: fundacion-frontend
    container_name: fundacion_frontend
    ports:
      - "4200:4200"
    restart: unless-stopped
