:root {
    --color-1: #223d58;
    --color-2: #3e6389;
    --color-3: #6e94b9;
    --color-4: #b1d1f1;
    --color-5: #1c7373;
    --color-6: #005757;
    --color-7: #b45908;
    --color-8: #ab5408;
    --color-fondo: #eaeef4;
    --color-complementario-I : #ce1d49;
    --color-complementario-II : #b81941;
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-blanco: #fff;
    --color-negro: #000;
}

:host {
    display: block;
    width: 100%;
}

.divPrincipal{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

.mainPrincipal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1;
}