<div class="container-fluid d-flex flex-column align-items-center justify-content-center mt-5 mb-5 text-center">
    <div class="d-flex align-items-center mb-3">
        <h1 class="me-3">Error</h1>
        <img src="assets/imagenes/error-404-cartel.png" alt="error-404" class="img-fluid" style="max-width: 60px;" width="512" height="512">
    </div>
    <img src="assets/imagenes/error-404.png" alt="error-404" class="img-fluid" style="max-width: 300px;" width="512" height="512">
    <button type="button" class="btn btn-success mt-4" (click)="goBack()">
        <i class="fa-solid fa-caret-left"></i> Volver
    </button>
</div>
