<footer>
    <section class="section-1">
        <article class="box-logo">
            <a href="index.html" aria-label="Logo y nombre">
                <div>
                    <img src="assets/imagenes/Logo.png" alt="Logo-pie-de-pagina" width="96" height="96">
                </div>
                <p>Fundación RRHH</p>
            </a>
        </article>
        <article class="box-nosotros">
            <h3>Sobre nosotros</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, impedit, et corrupti dolore, voluptate labore illo quaerat voluptatum obcaecati ipsum cum quasi eveniet. Accusantium est quo pariatur optio dolor minus.</p>
        </article>
        <article class="box-redes">
            <a href="#" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
            <a href="#" aria-label="Instragram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
        </article>
    </section>
    <section class="section-2">
        <small>
            &copy; 2025 <b>Maximiliano Soriano</b> - Todos los derechos reservados.
        </small>
    </section>
</footer>