<section class="banner">
    <article>
        <h1>Bienvenido/a a la Fundación RRHH</h1>
        <h2>Formamos personas para el mundo laboral</h2>
        <p>En la Fundación RRHH brindamos cursos presenciales diseñados para potenciar tus habilidades profesionales.
            Contamos con capacitaciones en Excel, Programación, Bartender, Preceptoría y muchas más, dictadas por
            docentes especializados y enfocadas en la práctica real para tu desarrollo laboral.</p>
    </article>
</section>