.edteam{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0px;
}

.edteam .link-edteam{
    width: 950px;
    animation-name: show;
    animation-timeline: view();
    animation-range: entry 15% cover 40%;
    animation-fill-mode: both;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.img-edteam-1{
    width: 100%;
    height: 250px;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.img-edteam-2{
    display: none;
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width:960px) {
    .edteam .link-edteam{
        width: 600px;
    }

    .img-edteam-1{
        width: 100%;
        height: 150px;
        object-fit: cover;
        aspect-ratio: 16/9;
    }
}

@media (max-width:610px) {
    .edteam .link-edteam{
        width: 400px;
    }

    .img-edteam-1{
        width: 100%;
        height: 100px;
        object-fit: cover;
        aspect-ratio: 16/9;
    }
}

@media (max-width:410px) {
    .edteam .link-edteam{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .img-edteam-1{
        display: none;
    }

    .img-edteam-2{
        display: block;
        padding: 10px;
        width: 250px;
        height: 120px;
        aspect-ratio: 16/9;
    }
}