.sUsuario {
    width: 100%;
    max-width: 100vw;
    padding: 10px 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.aVolver {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}